
*{box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Roboto',sans-serif;
/*text-transform: capitalize;*/
transition: .5s ease-in;}

body{background: #111;}

section{padding: 100px;}

.banner{position: relative;
min-height: 100vh;
background: url(images/met.jpg);
background-size: cover;
background-position: right;
display: flex;
justify-content: space-between;
align-items: center;
text-transform: capitalize;}

.banner h1{font-size: 3.5em;
color: #fff;
font-weight: 500;
line-height: 1.5em;}

.banner h1 span{font-size: 3em
font-weight:900;
color: blue;}

.banner h3{font-size: 1.5em;
color: #fff;
font-weight: 500;
text-transform: capitalize;}

.banner h3 span{font-size: 1.5em;
color: blue;
font-weight: 500;
text-transform: capitalize;
font-size: 1em;}

.btn{position: relative;
background: blue;
display: inline-block;
color: #fff;
margin-top: 20px;
margin-left: 35%;
padding: 10px 30px;
font-size: 18px;
text-decoration: none;
letter-spacing: 2px;
font-weight: 500;
border-radius: 50px;
}

.btn:hover{background: #fff; 
color: blue;}

header{position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 40px 100px;
z-index: 1000;
display: flex;
justify-content: space-between;
align-items: center;}

header .logo{color: #fff;
font-size: 24px;
text-decoration: none;
letter-spacing: 2px;}

header .logo span {color: blue;
	text-transform: lowercase;
font-size: 24px;
text-decoration: none;
letter-spacing: 2px;}

header ul{position: relative;
display: flex;}

header ul li{position: relative;
list-style: none;}

header ul li a{position: relative;
display: inline-block;
margin: 0 15px;
color: #fff;
text-decoration: none;
text-transform: uppercase;}

header ul li a:hover{background: blue;
border-radius: 50px;
padding: 10px 10px; }

header #icon{color: white;
font-size: 30px;
line-height: 80px;
float: right;
margin-right: 40px;
cursor: pointer;
display: none;}

.about{background: #fff;}

.head{width: 100%;
text-align: center;
margin-bottom: 30px;
color: blue;
border-bottom: 5px solid black;}

.head h2{font-weight: 600;
font-size: 30px;}

.content{display: flex;
justify-content: space-between;
font-size: 30px;}

.contentbx{padding-right: 30px;}

.contentbx h1{
margin-bottom: 12px;
text-align: center;}

h1{text-align: center;}

/*.img{border-radius: 50px;
}
*/
p{font-size: 18px;
text-align: justify;}

.pic{min-height: 50%;}

.services{display: flex;flex-direction: column;
padding: 20px;background: #fff;}
.row{display: flex;justify-content: space-around;
flex-wrap: wrap;box-sizing: border-box;justify-content: center;}
.box{display: flex;flex-direction: column;
width: 350px;height: 300px;border:1px solid black;
margin: 10px;align-items: center;text-align: justify;padding: 10px;border-radius: 20px;
background: linear-gradient(to top, rgb(255 45 45) 50%, white 50%);
background-size: 100% 200%;transition: all .8s;}
.box:hover{background-position: left bottom;color: white;
border:none;box-shadow: 0 0 20px rgb(255,45,45,)}

.portfolio{display: flex;flex-direction: column;
background-color: #111;color: #fff;
align-items: center;padding: 20px;}
.gallery{display: flex;flex-wrap: wrap; justify-content: space-around;
box-sizing: border-box; /*background: #111;*/}
.gallery img{width: 360px;height: 240px;margin: 10px;border-radius: 20px;}
.gallery img:hover{transform: scale(0.5);}


footer{position: relative;
bottom: 0;background: white;color: #111;}
.foot{box-sizing: border-box;
width: 100%;
text-align: left;
font: bold;
padding: 55px 50px;
margin-top: 80px;}
.foot .footy .footceter{display: inline-block;
vertical-align: top;}
.foot .footy{width: 40%;}
.footcompany{text-align: center;justify-content: center;padding-left: 350px;}

@media(min-width: 600px){
	p{font-size: 14px;}
}
@media(min-width: 800px){
	p{font-size: 16px;}
}
/*@media(max-width: 1048px){
	header .logo{font-size: 20px;
	}
}
@media(max-width: 909px){
	header #icon{
		display: block;
	}
	header ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 80px;
		left: 0;
		text-align: center;
	}
}*/